<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:component-scan base-package="com.shaoqunliu.validation"/>

    <import resource="applicationContext-dao.xml"/>

    <bean id="adaptersValidation" class="com.shaoqunliu.validation.AdaptersValidation">
        <property name="failFast" value="true"/>
        <property name="adapters">
            <list>
                <bean class="com.shaoqunliu.validation.validator.HibernateValidator">
                    <property name="passDefault" value="true"/>
                    <property name="failFast" value="true"/>
                </bean>
                <bean class="com.shaoqunliu.validation.validator.DigitsValidator"/>
                <bean class="com.shaoqunliu.validation.validator.database.ForeignKeyValidator">
                    <constructor-arg name="dataSource" ref="dataSource"/>
                    <property name="failFast" value="true"/>
                </bean>
            </list>
        </property>
    </bean>

</beans>