<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.opencil.mapper.ProjectMapper">

    <insert id="addProject" parameterType="cn.opencil.po.Project">
        INSERT INTO t_project (topic, leader, subject, funding, application_date, start_date, deadline)
            VALUE (#{topic}, #{leader}, #{subject}, #{funding}, #{applicationDate}, #{startDate}, #{deadline})
    </insert>

    <delete id="deleteProject" parameterType="java.lang.Integer">
        DELETE
        FROM
            t_project,
            t_team_project,
            t_expenditure USING t_project
            LEFT JOIN t_team_project ON t_team_project.project_id = t_project.id
            LEFT JOIN t_expenditure ON t_expenditure.project_id = t_project.id
        WHERE
            t_project.id = #{id}
    </delete>

    <update id="modifyProject" parameterType="cn.opencil.po.Project">
        UPDATE t_project
        <set>
            <if test="topic != null">
                topic = #{topic},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="codeUri != null">
                code_uri = #{codeUri},
            </if>
            <if test="docsUri != null">
                docs_uri = #{docsUri},
            </if>
            <if test="leader != null">
                leader = #{leader},
            </if>
            <if test="subject != null">
                subject = #{subject},
            </if>
            <if test="funding != null">
                funding = #{funding},
            </if>
            <if test="affiliation != null">
                affiliation = #{affiliation},
            </if>
            <if test="applicationDate != null">
                application_date = #{applicationDate},
            </if>
            <if test="startDate != null">
                start_date = #{startDate},
            </if>
            <if test="deadline != null">
                deadline = #{deadline}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <resultMap id="projectInfo" type="cn.opencil.po.Project"/>

    <sql id="basicProjectInfo">
        id, topic, leader, funding, start_date, subject, deadline
    </sql>

    <sql id="additionalProjectInfo">
        , description, code_uri, docs_uri, affiliation, application_date, start_date
    </sql>

    <sql id="projectInfoWhereOption">
        <choose>
            <when test="id != null">
                id = #{id}
            </when>
            <when test="leader != null">
                leader = #{leader}
            </when>
            <when test="subject != null">
                subject = #{subject}
            </when>
        </choose>
    </sql>

    <select id="querySummaryProjectInfo" parameterType="cn.opencil.po.Project" resultMap="projectInfo">
        SELECT
            <include refid="basicProjectInfo"/>
        FROM t_project
        WHERE
            <include refid="projectInfoWhereOption"/>
    </select>

    <select id="queryAllProjectInfo" parameterType="cn.opencil.po.Project" resultMap="projectInfo">
        SELECT
            <include refid="basicProjectInfo"/>
            <include refid="additionalProjectInfo"/>
        FROM t_project
        WHERE
            <include refid="projectInfoWhereOption"/>
    </select>

</mapper>
