<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.opencil.mapper.RBACUserRoleMapper">

    <insert id="addUserRole" parameterType="cn.opencil.po.RBACUserRole">
        INSERT INTO t_rbac_user_role (user_id, role_id) VALUE (#{userId}, #{roleId})
    </insert>

    <resultMap id="roleIdMap" type="java.lang.Byte"/>

    <select id="getRoleByUser" parameterType="java.lang.Long" resultMap="roleIdMap">
        SELECT role_id
        FROM t_rbac_user_role
        WHERE user_id = #{id}
    </select>

    <delete id="revokeRoleFromUser" parameterType="cn.opencil.po.RBACUserRole">
        DELETE FROM t_rbac_user_role
        WHERE user_id = #{userId}
        <if test="roleId != null">
            AND role_id = #{roleId}
        </if>
    </delete>
</mapper>