<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.opencil.mapper.RBACRoleMapper">

    <resultMap id="roleMap" type="cn.opencil.po.RBACRole"/>

    <select id="getRole" parameterType="cn.opencil.po.RBACRole" resultMap="roleMap">
        SELECT
            id,
            name
        FROM t_rbac_role
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <when test="name != null">
                    name = #{name}
                </when>
            </choose>
        </where>
    </select>

</mapper>