<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.opencil.mapper.RBACUserMapper">
    <select id="getUserByUserId" resultType="cn.opencil.po.RBACUser" parameterType="java.lang.Long">
        SELECT
            password,
            enabled
        FROM t_rbac_user
        WHERE id = #{id}
    </select>
</mapper>