<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.opencil.mapper.RBACUserMapper">
    <select id="getUserByUserId" resultType="cn.opencil.po.RBACUser" parameterType="java.lang.Long">
        SELECT
            A.id,
            A.password,
            A.enabled,
            C.name AS 'role'
        FROM
            t_rbac_user AS A
            LEFT JOIN t_rbac_user_role AS B
                ON A.id = B.user_id
            LEFT JOIN t_rbac_role AS C
                ON B.role_id = C.id
        WHERE
            A.id = #{id}
    </select>

    <update id="changePassword" parameterType="cn.opencil.po.RBACUser">
        UPDATE t_rbac_user
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <update id="enableOrDisableUser" parameterType="cn.opencil.po.RBACUser">
        UPDATE t_rbac_user
        SET enabled = #{enabled}
        WHERE id = #{id}
    </update>

    <insert id="addMember" parameterType="cn.opencil.po.RBACUser">
        INSERT INTO t_rbac_user (id, password, enabled) VALUE (#{id}, #{password}, #{enabled})
    </insert>

    <delete id="deleteMember" parameterType="java.lang.Long">
        DELETE
        FROM
            t_personnel,
            t_rbac_user,
            t_rbac_user_role USING t_personnel
            INNER JOIN t_rbac_user
            INNER JOIN t_rbac_user_role
        WHERE
            t_personnel.id = t_rbac_user.id AND
            t_personnel.id = t_rbac_user_role.user_id AND
            t_personnel.id = #{id}
    </delete>
</mapper>