<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.opencil.mapper.ResourceMapper">

    <insert id="addResource" parameterType="cn.opencil.po.Resource">
        INSERT INTO t_resource (type_id, purchaser_id, unit_price, remaining, quantity)
            VALUE (#{typeId}, #{purchaserId}, #{unitPrice}, #{remaining}, #{quantity})
    </insert>

    <delete id="deleteResource" parameterType="java.lang.Integer">
        DELETE FROM t_resource, t_resource_usage USING t_resource
            LEFT JOIN t_resource_usage
                ON t_resource.id = t_resource_usage.resource_id
        WHERE t_resource.id = #{id}
    </delete>

    <update id="modifyResourceInfo" parameterType="cn.opencil.po.Resource">
        UPDATE t_resource
        <set>
            <choose>
                <when test="typeId != null">
                    type_id = #{typeId},
                </when>
                <when test="purchaserId != null">
                    purchaser_id = #{purchaserId},
                </when>
                <when test="unitPrice != null">
                    unit_price = #{unitPrice},
                </when>
                <when test="remaining != null">
                    remaining = #{remaining},
                </when>
                <when test="quantity != null">
                    quantity = #{quantity}
                </when>
            </choose>
        </set>
        WHERE id = #{id}
    </update>

</mapper>